:root {
    --darker-white: #f9fafb;
}

@font-face {
    font-family: Barlow-Regular;
    src: url(./fonts/Barlow-Regular.ttf);
}

@font-face {
    font-family: Norse-Bold;
    src: url(./fonts/Norse-Bold.otf);
}

body {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    margin: 0;
}

.left {
    flex: 1;
    background: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    min-width: 150px;
    position: relative;
}

.logo-container {
    width: 100%;
    height: 18%;
    background-color: rgba(0, 0, 0, 0.611);
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

.logo {
    height: 100%;
}

.bg-credit {
    position: absolute;
    bottom: 0px;
    color: rgb(255, 255, 255);
    opacity: 0.89;
    width: 100%;
    text-align: center;
}
.bg-credit a {
    color: white;
}

.odin-text {
    align-self: center;
    overflow-wrap: break-word;
    color: white;
    font-family: Norse-Bold;
    font-size: 64px;
}

.right {
    flex: 2;
    display: flex;
    flex-direction: column;
    font-family: Barlow-Regular;
}

.top, .bottom {
    background-color: var(--darker-white);
    display: flex;
    flex-direction: column;
}

.top, .bottom, .middle {
    padding: 1rem;
    flex: 1;
}

.top {
    justify-content: flex-end;
}

.middle {
    box-shadow: 5px 2px 10px rgba(3, 4, 46, 0.27);
    z-index: 0;
}

.bottom button {
    width: fit-content;
    background-color: #596D48;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    box-shadow: 1px 1px 5px rgba(3, 4, 46, 0.27);
    border: none;
    border-radius: 6px;
    padding: 8px 30px;
}

.bottom button:hover {
    cursor:pointer;
    background-color: #3d4a31;
}

.form-row {
    display: flex;
    flex-wrap:wrap;
}

.form-item {
    padding: 6px 0;
    font-size: 0.9rem;
}

label {
    display: block;
}
input {
    width: 90%;
    border: 2px solid #e5e7eb;
    border-radius: 6px;
    height: 1.2rem
}

input:focus {
    border: 2px solid #1d4ed8;
    outline: none;
}

/* Behavior for when password is mismatched */
.password-mismatch {
    display: none;
    color: red;
    position: absolute;
}

input.mismatch {
    border: red solid 2px;
}

input.mismatch:not(:focus) {
    border: rgba(255, 0, 0, 0.313) solid 2px;
}

.mismatch, .password-mismatch {
    transition: all 300ms;
}
/********************************************/

@media only screen and (max-width: 768px) {
    body {
        flex-direction: column;
    }
    .left {
        flex: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 150px;
    }
    .logo-container {
        margin: 10px 0px;
        height: 50%;
    }
}